<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Trainee</title>
</head>
<body>

<h2>Add Trainee</h2>

<form th:object="${trainee}" th:action="@{/trainees/add}" method="post">
    <label>First Name: <input type="text" th:field="*{firstName}" required/></label><br>
    <label>Last Name: <input type="text" th:field="*{lastName}" required/></label><br>
    <label>Date of Birth: <input type="date" th:field="*{dateOfBirth}"/></label><br>
    <label>Address: <input type="text" th:field="*{address}"/></label><br>

    <input type="submit" value="Add"/>
</form>

<a href="/trainees">Back to Trainee List</a>

</body>
</html>
