<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Trainee List</title>
</head>
<body>
<form th:action="@{/trainees}" method="get">
    <label>Search Trainee: <input type="text" name="search" th:value="${search}" /></label>
    <input type="submit" value="Search"/>
</form>

<!-- Add this message display if searchMessage is present in the model -->
<div th:if="${searchMessage}">
    <p th:text="${searchMessage}" class="message"></p>
</div>



<h2>Trainee List</h2>

<table border="1">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Username</th>
        <th>Password</th>
        <th>Active</th>
        <th>Date of Birth</th>
        <th>Address</th>
        <th>Actions</th>
        <th>Activate/Deactivate</th>
        <th>Delete by username</th>>
    </tr>

    <tr th:each="trainee : ${trainees}">
        <td th:text="${trainee.firstName}"></td>
        <td th:text="${trainee.lastName}"></td>
        <td th:text="${trainee.username}"></td>
        <td th:text="${trainee.password}"></td>
        <td th:text="${trainee.isActive}"></td>
        <td th:text="${trainee.dateOfBirth}"></td>
        <td th:text="${trainee.address}"></td>
        <td>
            <a th:href="@{/trainees/profile/{username}(username=${trainee.username})}">View Profile</a>

            <a th:href="@{/trainees/edit/{id}(id=${trainee.id})}">Edit</a>
            <a th:href="@{/trainees/delete/{id}(id=${trainee.id})}">Delete</a>
        </td>
        <td>
            <a th:href="@{/trainees/activate/{id}(id=${trainee.id})}">Activate</a>
            <a th:href="@{/trainees/deactivate/{id}(id=${trainee.id})}">Deactivate</a>
        </td>
        <td>
            <a th:href="@{/trainees/delete-by-username/{username}(username=${trainee.username})}" onclick="return confirm('Are you sure you want to delete this Trainee?')">Delete</a>
        </td>
    </tr>

    <tr th:if="${trainees == null or trainees.isEmpty()}">
        <td colspan="8">No trainees found for the given search criteria.</td>
    </tr>
</table>

<a href="/trainees/add">Add Trainee</a><br>
<a href="/trainees/training-list">Get Trainee Training List by username and criteria</a><br>

<a href="/">Back to Main page</a><br>

<br>




</body>
</html>
