<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Trainee Login</title>
</head>
<body>

<h2>Trainee Login</h2>

<form th:action="@{/trainee-login/authenticate}" method="post" th:object="${trainee}">
    <label>Username: <input type="text" th:field="*{username}" required/></label><br>
    <label>Password: <input type="password" th:field="*{password}" required/></label><br>
    <button type="submit">Login</button>
</form>

<p th:if="${error}" style="color: red" th:text="${error}"></p>

</body>
</html>
