<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Trainee Profile</title>
</head>
<body>


<h2>Trainee Profile</h2>

<!-- Display trainee details here -->

<p><strong>First Name:</strong> <span th:text="${trainee.firstName}"></span></p>
<p><strong>Last Name:</strong> <span th:text="${trainee.lastName}"></span></p>
<p><strong>Username:</strong> <span th:text="${trainee.username}"></span></p>
<p><strong>Password:</strong> <span th:text="${trainee.password}"></span></p>
<p><strong>Active:</strong> <span th:text="${trainee.isActive}"></span></p>
<p><strong>Date of Birth:</strong> <span th:text="${trainee.dateOfBirth}"></span></p>
<p><strong>Address:</strong> <span th:text="${trainee.address}"></span></p>

<h3>Change Password</h3>
<form th:action="@{'/trainees/profile/' + ${trainee.username} + '/change-password'}" method="post">
    <label>New Password: <input type="password" name="newPassword" required/></label>
    <input type="submit" value="Change Password"/>
</form>

<div th:if="${param.successMessage}">
    <p style="color: green;" th:text="${param.successMessage}"></p>
</div>

<!-- Display error message if present -->
<div th:if="${param.errorMessage}">
    <p style="color: red;" th:text="${param.errorMessage}"></p>
</div>


<a href="/trainees">Back to Trainee List</a>

</body>
</html>
