<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Trainer</title>
</head>
<body>

<h2>Edit Trainer</h2>

<form th:object="${trainer}" th:action="@{/trainers/edit/{id}(id=${trainer.id})}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <label>First Name: <input type="text" th:field="*{firstName}" required/></label><br>
    <label>Last Name: <input type="text" th:field="*{lastName}" required/></label><br>
    <label>Username: <input type="text" th:field="*{username}" required/></label><br>
    <label>Password: <input type="text" th:field="*{password}" required/></label><br>
    <label>Active: <input type="checkbox" th:field="*{isActive}" /></label><br>
    <label>Training Type:
        <select th:field="*{trainingType.id}" required>
            <option th:each="type : ${trainingTypes}" th:value="${type.id}" th:text="${type.trainingTypeName}"></option>
        </select>
    </label><br>
    <input type="submit" value="Save"/>
</form>

<br>
<br>


<form th:action="@{/trainers/profile/{username}/change-password(username=${trainer.username})}" method="post">
    <label>New Password: <input type="password" name="newPassword" required/></label>
    <input type="submit" value="Change Password"/>
</form>

<!-- Display success message if present -->
<div th:if="${param.successMessage}">
    <p style="color: green;" th:text="${param.successMessage}"></p>
</div>

<!-- Display error message if present -->
<div th:if="${param.errorMessage}">
    <p style="color: red;" th:text="${param.errorMessage}"></p>
</div>


<a href="/trainers">Back to Trainer List</a>

</body>
</html>
