<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trainer List</title>
</head>
<body>

<form th:action="@{/trainers}" method="get">
    <label>Search Trainer: <input type="text" name="search" th:value="${search}" /></label>
    <input type="submit" value="Search"/>
</form>

<!-- Add this message display if searchMessage is present in the model -->
<div th:if="${searchMessage}">
    <p th:text="${searchMessage}" class="message"></p>
</div>

<h2>Trainer List</h2>

<table border="1">
    <thead>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Username</th>
        <th>Active</th>
        <th>Training Type</th>
        <th>Actions</th>
        <th>Activate/Deactivate</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="trainer : ${trainers}">
        <td th:text="${trainer.firstName}"></td>
        <td th:text="${trainer.lastName}"></td>
        <td th:text="${trainer.username}"></td>
        <td th:text="${trainer.isActive}"></td>
        <td th:text="${trainer.trainingType != null} ? ${trainer.trainingType.trainingTypeName} : ''"></td>
        <td>
            <a th:href="@{/trainers/edit/{id}(id=${trainer.id})}">View Profile</a>
            <a th:href="@{/trainers/delete/{id}(id=${trainer.id})}">Delete</a>
        </td>
        <td>
            <a th:href="@{/trainers/toggle-status/{id}(id=${trainer.id})}">
                <span th:if="${trainer.isActive}">Deactivate</span>
                <span th:unless="${trainer.isActive}">Activate</span>
            </a>
        </td>
    </tr>
    </tbody>
</table>


<a href="/trainers/add">Add Trainee</a><br>
<a href="/trainers/training-list">Get Trainer Training List by username and criteria</a><br>

<a href="/">Back to Main page</a><br>

</body>
</html>




