<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Gym CRM</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<div th:replace="header :: header"></div>

<div class="container mt-5">
    <h2 class="text-center mb-5">Welcome to Gym CRM</h2>

    <section id="trainees">
        <h3>Trainees</h3>
        <p>Manage your gym's trainees efficiently with Gym CRM. Keep track of their personal information, membership status, attendance, and progress. Provide personalized training plans and monitor their fitness journey closely.</p>
    </section>

    <section id="trainers" class="mt-5">
        <h3>Trainers</h3>
        <p>Hire experienced and certified trainers to lead your gym's training sessions. With Gym CRM, you can manage trainer schedules, track their performance, and ensure they provide high-quality coaching to your trainees. Keep your trainers motivated and engaged to deliver exceptional fitness experiences.</p>
    </section>

    <section id="training-types" class="mt-5">
        <h3>Training Types</h3>
        <p>Offer a variety of training types to cater to different fitness goals and preferences. Gym CRM allows you to create and manage various training programs, including cardio, strength training, yoga, Pilates, and more. Customize training types based on the needs of your members and stay ahead in the competitive fitness indus
    </section>
</div>

<!-- Bootstrap JS (Optional) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>